form {
    display: flex;
    gap: .5rem;
    width: 100%;
    /* width: 400px; */
    /* margin-right: 2rem; */
}

input {
    width: 100%;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 2px;
}

button {
    min-width: 200px;
    color: white;
    background: blue;
    border-radius: 4px;
    padding: 6px;
}

select {
    width: 100%;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 4px;
}