table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border: 0;
}

th {
    border: 0;
    padding: 1.5rem;
    border-bottom: 1px solid #ddd;
}


td {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}