.flex-row {
    display: flex;
    gap: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

table {
    border: 1px solid;
    text-align: center;
}

th {border: 1px solid grey;}

td {border: 1px solid grey;}

tr {
    transition: all 0.2s linear 0s;
}
tr:nth-child(even) {background-color: #e4e6fd;}
tr:hover {
    background-color: rgb(218, 218, 254);
    transition: all 0.2s linear 0s;
}

span {cursor: pointer;}
span a:hover {color: red;} 

.link:hover {
    color: blue;
}